/* ROOT & VARIABLES */
:root {
  /* Colors */
  --clr-dark: #001114;
  --clr-light: #F9FEFF; 
  --clr-main: #ACBDC0;
  --clr-accent: #FF686B;

  /* Fonts */
  --font-main: 'Arimo', sans-serif;
  --font-accent: 'Nothing You Could Do', cursive;

  /* Sizes */
  --size-main: 36px;
  --size-title: 24px;
  --size-subtitle: 20px;
  --size-body: 14px;
  --size-nav: 18px;
}

/* GENERAL STYLES */
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  font-family: var(--font-main); 
  font-size: var(--size-body);
  font-weight: 400;
}
p {
  line-height: 1.5;
}
a {
  transition: all 0.2s ease-in-out;
}
a:hover {
  font-style: italic;
  transition: all 0.2s ease-in-out;
}
.main-navigation {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 10%;
}
.main-nav ul {
  display: flex;
}
.main-nav .nav-item {
  margin: 1rem 3rem;
  font-weight: bold;
}
.items-list {
  margin-top: 3rem;
}
.items-list li {
  margin-bottom: 1.5rem;
}
.uppercase {
  text-transform: uppercase;
}
.title {
  font-weight: bold;
}
.title--main {
  font-size: var(--size-main);
}
.title--section {
  font-size: var(--size-title);
  margin-bottom: .5rem;
}
.title--category {
  position: absolute;
  top: 1.5rem;
  left: 3rem;
  font-weight: bold;
  color: var(--clr-main);
}
.subtitle--section {
  font-size: var(--size-subtitle);
  margin-bottom: .5rem;
}
.close {
  width: fit-content;
  position: fixed;
  top: 1.5rem;
  right: 3rem;
  color: var(--clr-main);
}
.close i {
  font-size: var(--size-main);
}
.tec-info {
  color: var(--clr-main);
  /* font-size: 1rem; */
  line-height: 1.5; 
  margin-top: 1.5rem;
}
.tec-info a {
  color: var(--clr-accent);
}
/* LAYOUTS */
.container {
  display: flex;
  position: relative;
  width: 80%;
  height: 80%;
}
.container--main {
  align-items: center;
  justify-content: center;
}
.container--lists, 
.container--project {
  padding-top: 5rem;
  padding-left: 3rem;
  align-items: flex-start;
  overflow-y: scroll;
}
/* Hide scrollbar */
.container--lists, 
.container--project,
.container--project > .section--text,
.container--project > .section--image {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 
/* Hide scrollbar for Chrome, Safari and Opera */
.container--lists::-webkit-scrollbar, 
.container--project::-webkit-scrollbar,
.container--project > .section--text::-webkit-scrollbar,
.container--project > .section--image::-webkit-scrollbar {
  display: none; 
}
.container--project {
  overflow-y: hidden;
}
.project__section {
  min-height: 100%;
}
.container--project > .section--text,
.container--project > .section--image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container--project > .section--text {
  width: 45%;
  padding-right: 1.5rem;
}
.container--project > .section--image {
  width: 55%;
  padding-left: 1.5rem;
}
.individual__section {
  height: 100%;
  margin-bottom: 3rem;
  overflow-y: scroll;
}
.individual__section .section--body {
  margin-top: 3rem;
}
/* .section--body img {
  width: 80%;
} */
.section--image img,
.section--image video {
  width: 100%;
  margin-bottom: 1.5rem;
}
.iframe-container {
  display: block;
  position: relative;
  width: 100%;
  padding: 56.25% 0 0 0;
  margin-bottom: 1rem;
  z-index: 0 ;
}
.iframe-container iframe {
  padding: 0;
}
.section--image .album-cover {
  width: 80%;
  margin-bottom: 3rem;
}
